<!--
  <div class="media hidden-xs-down" *ngIf="isLoggedIn">

    <img class="d-flex mr-3" [src]="google?.photoURL" height="100" width="100">

    <div class="media-body">
      <h5 class="mt-0">Logged in as: {{google?.displayName}}</h5>
      <b>Email: </b> {{google?.email}} <br>
      <b>Provider-id: </b> {{google?.providerId}}<br>
      <b>Uid: </b> {{authBackendUid}}<br>

    </div>

    <div class="hidden-xs-down">
      <button type="button" class="btn btn-primary" (click)="logout()" routerLink="login">Logout</button>
    </div>
  </div>

  <div class="hidden-sm-up col-md-12" *ngIf="isLoggedIn">
    <div class="card">
      <img class="icoon" [src]="google?.photoURL" height="50%" width="50%"><br>
      <b>Logged in as:</b> {{google?.displayName}}<br><br>
      <button type="button" class="btn btn-primary" (click)="logout()" routerLink="login">Logout</button>
    </div>
  </div>


<div>
  <button type="button" class="btn btn-primary" (click)="logout()" routerLink="login">Logout</button>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>-->

<div class="app-content">
  <router-outlet></router-outlet>
</div>

