<div class="wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">ActorTemplate WebApp</h1>
      <p class="lead">Please log-in using google authentication.</p>
    </div>
  </div>
</div>

<div class="card" style="width:300px; height: 300px; margin:0 auto;">
  <div class="card-block">
    <h4 class="card-title">Login to your Account</h4>
    <p class="card-text">
      Use google authentication to sign in.
    </p>
    <button class="btn btn-lg btn-primary btn-block" (click)="login()" >Sign in with Google</button>
  </div>
</div>
