<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <h2>Home page</h2>
          <p>De volgende usecases zijn verwerkt in deze Angular 2 webApp:</p>
          <p>
            - Use Case 1: Inloggen / Uitloggen <br>
            - Use Case 2: Project selecteren <br>
            - Use Case 3: Actor Template aanmaken <br>
            - Use Case 4: Actor selecteren <br>
            - Use Case 6: Actor Template archiveren <br>
            - Use Case 7: Actor Template raadplegen <br>

          </p><br><hr>
          <p>Gebruikte frameworks:</p>
          <p>
            - Angular 2 <br>
            - Jquery <br>
            - Tether <br>
            - Bootstrap <br>
            - AngularFire <br>
          </p><br>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <h2>About</h2>
          <p>
            Eindopdracht voor Front-End Programming. Maak een Actor Template App met Angular 2<br/>
          </p><hr/>
          <p>
            Vak code: TCIF-V3FEP-16	<br/>
            Vak naam: Front-End Programming <br/>
          </p><hr/>
          <p>
            Gemaakt door:<br/>
            Justin Jacobs: 1664015	<br/>
            Jonah Sneijders: 1662364	<br/>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
